.container
   .row
      .col-md-4
         img(ng-show="showByteImage()" ng-src="data:image/*;base64,{{user.image}}" id="photo-id" width="300" height="270" alt="https://www.plexusmd.com/PlexusMDAPI//Images/ProfilePicture/default_profile.jpg")
         img(ng-hide="showByteImage()" src="{{image}}" width="300" height="270")
         div
            br
            br
            div(class="button btn btn-default" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"  accept="image/*" ngf-max-size="20MB") Upload new Image
      .col-md-4
         form.form-horizontal
            .form-group
               label(for="username") Username
               input.form-control(type="text" name="username" disabled=true id="username" ng-model="user.username")
            .form-group
               label(for="first_name") First Name
               input.form-control(type="text" name="first_name" disabled=true id="first_name" ng-model="user.firstName")
            .form-group
               label(for="first_name") Last Name
               input.form-control(type="text" name="last_name" disabled=true id="last_name" ng-model="user.lastName")
            .form-group
               label(for="current_place") Current Place
               input.form-control(type="text" name="current_place" disabled=true id="current_place" ng-model="user.currentPlace")
      .col-md-4
         .form-group
            label(for="email") Email
            input.form-control(type="email" name="email" disabled=true id="email" ng-model="user.email")
         .form-group
            label(for="phone") Phone
            input.form-control(type="text" name="phone" disabled=true id="phone" ng-model="user.phone")
         .form-group
            label(for="password") New Password
            input.form-control(type="password" name="password" disabled=true id="password" ng-model="user.password")
         .form-group
            br
            .row
               .col-md-4
                  button.btn.btn-primary.buttonUpdate(ng-click="logUsers()") EDIT
               .col-md-4
                  button.btn.btn-success#btnSave(ng-click="update(user)") SAVE
               .col-md-4
                  button.btn.btn-danger(id="cancelBTN" ng-click="GoToAds()") CANCEL

   .row
      div(id="user-id" style="display:none") {{user._id}}
      h2#result

script(src="/app/account/edit-profile-client-script.js" type="text/javascript")

